doctype 5
html
  head
    title Twisted Node Starter

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")

    link(rel='stylesheet', href='/stylesheets/foundation.css')

    script(src='/javascripts/modernizr.foundation.js', type='text/javascript')
    script(src='/javascripts/jquery.js', type='text/javascript')  
    script(src='/javascripts/foundation.min.js', type='text/javascript')
    script(src='/javascripts/app.js', type='text/javascript')


  body(style="padding-top: 75px;")

    .fixed
      nav.top-bar
        ul
          li.name 
            h1
              a(href="/") Title
          li.toggle-topbar
            a(href="#")
        section
          ul.left
            li
              a(href="") Link
          ul.right
            li
              a(href="#") Link


    .row

    - if (typeof flash != 'undefined')
      .row
        .twelve.columns
          -if('info' in flash)
            each msg in flash.info
              .alert-box
                = msg
                a.close(href="") &times;
          -if('error' in flash)
            each msg in flash.error
              .alert-box.alert
                = msg
                a.close(href="") &times;


    block content

