extends ../layout
include ../mixins


block content
  .row
    .eight.columns.centered

      .panel.radius
        h1 Register
        form(action="/register", method="POST")
          .row
            .two.mobile-one.columns
              label.right.inline Username:
            .ten.mobile-three.columns
              mixin input("text", "username", "eight", "Username", form.username, errors)

            .two.mobile-one.columns
              label.right.inline Email:
            .ten.mobile-three.columns
              mixin input("text", "email", "eight", "Email", form.email, errors)

            .two.mobile-one.columns
              label.right.inline Password:
            .ten.mobile-three.columns
              mixin input("password", "password", "eight", "Password", form.password, errors)

            .two.mobile-one.columns 
              &nbsp;
            .ten.mobile-three.columns
              input.radius.button(type="submit", value="Register")
